{% extends '../base.html' %}
{% block content %}
{% load regex_func %}

<section class="update">
    <div class="header">
        <a href="{% url 'talk:chap' cn=chapter.id %}"><img src="/static/img/icon/Arrow-Back-Black.svg" alt=""></a>
        <h3>{{ chapter.title }}</h3>
    </div>
    {% with question.content|split as contentNs %}
        {% for contentN in contentNs  %}
        {% if forloop.last %}
            <div  class="update-q-title">{{ contentN }}</div>
        {% endif %}
        {% endfor %}
    {% endwith %}
    {% if question.q_type == 0 %}
    <input type="text" id="limit" readonly placeholder="{{question.limit}}"><br>
    {% endif %}
    <form class="update-form" action="{% url 'talk:update_answer' rn=response.id %}" method="POST">
        {% csrf_token %}
        {% if question.choice_set.all %}
        <div class="update-container">
            {% for choice in question.choice_set.all %}
                {% if choice.content|regex_func %}
                <button class="img-bubble-choice" name="answer" id="answer" value="{{ choice.content }}" style="background-image: url('/static/img/choice/{{choice.content}}.png');"></button>
                {% else %}
                <button class="border-none bubble my choice-bubble " name="answer" id="answer" value="{{ choice.content }}">{{ choice.content }}</button>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
            <input class="update-input" type="text" id="answer" name="answer" value="{{response.content}}" onkeypress="countLength(this, {{question.limit}})">
            
            <button class="btn dark-btn"type="submit">저장하기</button>
        {% endif %}
        </form>
</section>
{% endblock %}