{% extends '../base.html' %}
{% block content %}
{% load regex_func %}

<section>
    <div class="header">
        <a href="#"><img src="/static/img/icon/Arrow-Back-Black.svg" alt=""></a>
        <h3>{{ chapter.title }}</h3>
    </div>
    <div class="update-q-title">{{question.content}}</div>
    <form action="{% url 'talk:update_answer' rn=response.id %}" method="POST">
        {% csrf_token %}
        {% if question.choice_set.all %}
            {% for choice in question.choice_set.all %}
                {% if choice.content|regex_func %}
                <button class=" " name="answer" id="answer" value="{{ choice.content }}"><img src="/static/img/choice/{{choice.content}}.png" alt=""></button>
                {% else %}
                <button class=" " name="answer" id="answer" value="{{ choice.content }}">{{ choice.content }}</button>
                {% endif %}
            {% endfor %}
        {% else %}
            <input type="text" id="answer" name="answer" value="{{response.content}}">
            <button class="send" type="submit"><img src="/static/img/icon/send-button.svg" alt=""></button>
        {% endif %}
        </form>
</section>
{% endblock %}