{% extends '../base.html' %}
{% block content %}

<section>
    <form action="{% url 'talk:chapter50' qn=50 %}">
        {% csrf_token %}
        {% for i in '123456' %}
        <div class="each-contact">
            <div><strong>[{{i}}]</strong> 연락처 입력</div>
            <input type="text" id="name{{i}}" name="name{{i}}" placeholder="김갈피">
            <input type="text" id="contact{{i}}" name="contact{{i}}" placeholder="ex. 01012345678 or @example">
        </div>
        {% endfor %}
    </form>
</section>
{% endblock %}