{% extends '../base.html' %}
{% block content %}
<section class="final-con">
    <div class="header">
        <a href="#"><img src="/static/img/icon/Arrow-Back-Black.svg" alt=""></a>
        <h3>일정 안내</h3>
    </div>
    <div class="center-flex">

        <div class="line_lottie" id="lottie_final"></div>
        <img class="final_text" src="/static/img/icon/final_text.svg" alt="">
        <div class="align-left">
            <h4 class="info_title" >꼼꼼히 확인하셨나요?</h4>
        </div>
        <div class="info_box">
            <p>
                후원자가 배송지를 잘못 기재하여 배송사고가 발생한 경우 책임지지 않습니다.<br>
                <br>
                기타 안내사항은 <a class="tum-link" href="https://tumblbug.com/galpi_me/community">텀블벅 프로젝트 게시글</a> 〈신뢰와 안전〉과 〈커뮤니티〉를 참고해주세요.<br>
            </p>
        </div>

        <button class="btn dark-btn" onclick="location.href='{% url 'accounts:intro' %}'">메인으로</button>
    </div>
</section>

{% endblock %}