{% extends '../base.html' %}
{% block content %}

<section class="info-sec update">
    <div class="header">
        <a href="{% url 'talk:chap' cn=chapter.id %}"><img src="/static/img/icon/Arrow-Back-Black.svg" alt=""></a>
        <h3>갈피에게 남기는 말</h3>
    </div>
    <form class="update-form" method="post" action="{% url 'talk:write_last' %}">
        {% csrf_token %}
        <input class="mt-btn" type="text" id="limit" readonly placeholder="{{question.limit}}"><br>
        <input class="update-input" type="text" id="answer" name="answer" placeholder="남기고 싶은 말이 있나요?" value="{{response.content}}">
        
        <button class="btn dark-btn"type="submit">저장하기</button>
    </form>
</section>
{% endblock %}