{% extends '../base.html' %}
{% block content %}
<section>
    <div class="center-flex">

        <div class="line_lottie" id="lottie_main"></div>
    
        <h1>하루면담</h1>
        <div class="exp-text">당신만의 이야기를<br>기록하는 웹 질문지</div>
        
        {% if user.is_authenticated %}
            
        <button class="btn dark-btn" onclick="location.href='{% url "talk:chap_bridge" cn=1%}'">문답 수정하기</button>
            {% if is_done == True %}
            <button class="btn light-btn" onclick="location.href='{% url "talk:address" %}'">배송지 수정하기</button>
            {% endif %}
        <button class="btn light-btn" onclick="location.href='{% url "accounts:logout" %}'">로그아웃</button>
        {% else %}
        <button class="btn dark-btn" onclick="location.href='{% url 'accounts:login' %}'">로그인</button>
        {% endif %}
        {% if not user.is_authenticated %}
        <button class="btn light-btn" onclick="location.href='{% url 'accounts:signup' %}'">회원가입</button>
        {% endif %}

        <a class="question" href="{% url 'accounts:question' %}">문제가 생겼나요?</a>
    </div>
</section>

{% endblock %}