{% extends "../base.html" %}
{% block content %}
<section>
    <div class="header">
        <a  onclick="history.back(-1)"><img src="/static/img/icon/Arrow-Back-Black.svg" alt=""></a>
        <h3>문제가 생겼나요?</h3>
    </div>

    <div class="center-flex">
        <div class="line_lottie" id="lottie_question"></div>
        <p class="nanumsquare question-text">
            [하루면담]을 진행하는 중 비밀번호
            분실이나 [하루면담] 진행에 어려움이
            있으신 경우 <strong class="color-strong">텀블벅 메시지('창작자에게 문의')로</strong> 또는
            <strong class="color-strong">galpi.me@gmail.com</strong>
            문의주시면 빠르게 답변 드리겠습니다.
    </div>
    </p>
</section>
{% endblock %}