.help-sec {
    background: #2E3340;
}

.help-con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.help-img {
    width: 100%;
    object-fit: contain;
}

.help-icon {
    padding: 14px;
    z-index: 10;
}

@media not all and (hover: hover) {
    .help-icon {
        position: absolute;
    }
    .help-back {
        left: 20px;
    }
    .help-next {
        right: 20px;
    }
}

@media (hover: hover) {
    section {
        width: 500px;
    }
}