.update {
    background: #FAFAFA;
}
.update .header {
    background-color: white;
    margin: 0;
    padding: 6%;
}
.update-q-title {
    margin-top: 10%;
    margin-bottom: 3%;
    font-size: 1.05rem;
    line-height: 150%;

    text-align: center;
}
.update-input {
    padding: 10px;
    height: 60%;
    width: 80%;
    border-radius: 10px;
    border: none ;
    background-color: white;
    font-family: NanumBarunGothicOTF;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 5%;
    text-align: left;
}

.update-form {
    height: 30vh;
    
}

.update #limit {
    height: 50%;
    height: 4vh;
    width: 7vw;
    border-radius: 2vh;
    background: #F5F5F5;
    color: #332C28;
    margin-bottom: 5%;

}